.hero-body {
  justify-content: center;
  /* background: whitesmoke; */
  background: linear-gradient(
      rgba(129, 80, 80, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("../img//softype-inc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login {
  border-radius: 5px;
  background: white;
  padding: 1.5rem;
  -webkit-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.39);
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.39);
}
